{{> navbar}}

<h1>Dashboard</h1>

<h2>Hello, {{username}}!</h2>

{{#if posts.length}}
  {{#each posts}}
    <div>
      <h3>{{this.title}}</h3>
      <p>{{this.content}}</p>
      <button>Edit</button>
      <button>Delete</button>
    </div>
  {{/each}}
{{else}}
  <p>No posts yet!</p>
{{/if}}